.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 8px;
}

.navigation li {
  margin-right: 10px;
}

.link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #ff0000;
}

.active {
  color: #ff0000;
}
